/* General */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background: url('../img/background.jpg') repeat;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    font-size:18px;
}

/* Window */
.app {
    text-align:center;
}

/* Header */
header {
    padding: 100px 0;
}

/* Buttons */
div.buttons {
    margin: 20px 0;
}

button {
    border: 0;
}

#take_picture {
    background: url('../img/take.png');
    width: 150px;
    height: 153px;
}

#take_picture:focus, #take_picture:hover {
    background: url('../img/take_press.png');
}

#save_picture {
    background: url('../img/send.png');
    width: 252px;
    height: 57px;
}
#save_picture:focus, #save_picture:hover {
    background: url('../img/send_press.png');
}

#cancel {
    background: url('../img/again.png');
    width: 252px;
    height: 57px;
}
#cancel:focus, #cancel:hover {
    background: url('../img/again_press.png');
}

/* Footer */
footer {
    background: #ddd;
    width: 100%;
    position:fixed;
    bottom:0;
    font-size: 24px;
    padding: 50px 0px;
}
